<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Chủ</title>

  <link rel="stylesheet" href="/cnpm/assets/styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/cnpm/assets/styles/codicons/codicon.css">
  <link rel="stylesheet" href="/cnpm/assets/styles/codicons/codicon.ttf">

  <script src="/cnpm/assets/scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-md sticky-top shadow bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">[LOGO]</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="/cnpm/views/customer/main-page.html" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="#" class="nav-link">CSKH</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Chuyển khoản</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Thanh toán hoá đơn</a></li>
          <li class="nav-item"><a href="/cnpm/views/customer/savings/savings.html" class="nav-link">Gửi tiết kiệm</a></li>
          <li class="nav-item"><a href="/cnpm/views/customer/loan/loan.html" class="nav-link">Tạo khoản vay</a></li>
          <li class="nav-item"><a href="/cnpm/views/customer/transaction-history/transaction-history.html" class="nav-link">Lịch sử</a></li>
        </ul>
        <div class="d-md-flex justify-content-md-end flex-grow-1">
          <div class="d-md-inline d-none dropdown-center">
            <div class="codicon codicon-account fs-2 d-none d-md-block" data-bs-toggle="dropdown"></div>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a href="/cnpm/views/customer/customer-information/change-information.html" class="dropdown-item">Thông tin cá nhân</a></li>
              <li><a href="/cnpm/views/customer/customer-information/change-password.html" class="dropdown-item">Đổi mật khẩu</a></li>
              <li><a href="/cnpm/views/guest/main-page.html" class="dropdown-item">Đăng xuất</a></li>
            </ul>
          </div>
          <div class="d-md-none d-inline">
            <ul class="navbar-nav">
              <li class="nav-item"><a href="./customer-information/change-information.html" class="nav-link">Thông tin cá nhân</a></li>
              <li class="nav-item"><a href="./customer-information/change-password.html" class="nav-link">Đổi mật khẩu</a></li>
              <li class="nav-item"><a href="/cnpm/views/guest/main-page.html" class="nav-link">Đăng xuất</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <section id="transaction-history-table">
    <div class="mx-5 my-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loại giao dịch</th>
            <th scope="col">Ngày giao dịch</th>
            <th scope="col">Tài khoản nguồn</th>
            <th scope="col">Tài khoản đích</th>
            <th scope="col">Số tiền</th>
            <th scope="col">Thông tin chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Chuyển khoản</td>
            <td>1-1-2000</td>
            <td>123789</td>
            <td>890543</td>
            <td>100000000</td>
            <td>Mua hàng</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chuyển khoản</td>
            <td>1-1-2000</td>
            <td>123789</td>
            <td>890543</td>
            <td>100000000</td>
            <td>Thanh toán hoá đơn</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Chuyển khoản</td>
            <td>1-1-2000</td>
            <td>123789</td>
            <td>890543</td>
            <td>100000000</td>
            <td>Thanh toán hoá đơn</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Gửi tiết kiệm</td>
            <td>1-1-2000</td>
            <td>123789</td>
            <td>890543</td>
            <td>100000000</td>
            <td>Khoản tiết kiệm ABC</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Trả nợ vay</td>
            <td>1-1-2000</td>
            <td>123789</td>
            <td>890543</td>
            <td>100000000</td>
            <td>Khoản vay OKM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>