<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Chủ</title>

  <link rel="stylesheet" href="/assets/styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/styles/codicons/codicon.css">
  <link rel="stylesheet" href="/assets/styles/codicons/codicon.ttf">

  <script src="/assets/scripts/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-light">
  <nav class="navbar navbar-expand-md sticky-top shadow bg-light">
    <div class=" container-fluid">
      <a class="navbar-brand" href="#">[LOGO]</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/views/guest/main-page.html">Trang chủ</a></li>
          <li class="nav-item"><a class="nav-link" href="/views/guest/contact.html">CSKH</a></li>
        </ul>
        <div class="d-md-flex justify-content-md-end flex-grow-1">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/views/guest/sign-up/input-basic-information.html">Đăng ký</a></li>
            <li class="nav-item"><a class="nav-link" href="/views/guest/sign-in.html">Đăng nhập</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <section class="vh-85" id="main-advertisement">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="85vh" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
          </svg>
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="85vh" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
          </svg>
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" height="85vh" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: First slide" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#555" dy=".3em">First slide</text>
          </svg>
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="vh-100" id="development-team" id="development-team">
    <h2 class="d-flex justify-content-center py-5">Nhóm phát triển</h2>
    <div class="container">
      <div class="row g-5 justify-content-center">

        <div class="col-lg-3 col-md-6 col-8">
          <div class="card">
            <img src="/assets/images/development-team/tran-dong.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-text">Trần Đông<br>20133035</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-8">
          <div class="card">
            <img src="/assets/images/development-team/le-minh-dang.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-text">Lê Minh Đăng<br>20133034</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-8">
          <div class="card">
            <img src="/assets/images/development-team/huynh-cong-hau.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-text">Huỳnh Công Hậu<br>20133039</div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-8">
          <div class="card">
            <img src="/assets/images/development-team/nguyen-trung-cuong.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-text">Nguyễn Trung Cường<br>20133028</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</body>

</html>